<div class="frontBackground">

    <div class="container-fluid">
        <h1 align="center" style="font-family: 'Letter Gothic Std'">Where do you want to go?</h1>
        <body>
        </body>
        <div class="ball"></div>

        <div class="row">

            <div class="col-md-3">
                <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                    <div class="flipper">
                        <div class="front">
                            <a href="#/index.html"><img src="../css/images/goToStore.jpg"></a>
                        </div>
                        <div class="back">
                            <a href="#/index.html"><img src="../css/images/goToStore.jpg"></a>
                        </div>


                    </div>
                </div>
            </div>
            <div class="goToHistory">
                <div class="col-md-3, goToHistory">
                    <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
                        <div class="flipper">
                            <div class="front">
                                <a href="#/index.html"><img src="../css/images/goToHistory.jpg"></a></div>
                            <div class="back">
                                <a href="#/index.html"><img src="../css/images/goToHistory.jpg"></a></div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>


    <button class="button" ng-click="go()"><span>Register</span></button>
</div>
</div>


</div>
